
.App__container {
  display: grid;
  grid-template-columns: var(--section-width) 2fr;
  background-color: var(--section-color);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-family);
}

/* .App__sketch {
  background: url("/src/assets/behance.png");
} */

@media screen and (max-width: 850px) {
  .App__container {
    grid-template-columns: 1fr;
  }
}