@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --bgColor: #374151;
  --section-color: #1A1B21;
  --font-family: "Inter";
  --section-width: 0.75fr;
  --section-padding: 2rem;
  --line-height: 130%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
